# TensorFlow is much easier to install using Anaconda, especially
# on Windows or when using a GPU. Please see the installation
# instructions in INSTALL.md


##### Core scientific packages
addict
jupyter==1.0.0
matplotlib
numpy
pandas
scipy
seaborn
regex;sys_platform=='win32'
yapf

##### Machine Learning packages
scikit-learn

# Optional: the XGBoost library
#/xgboost==1.3.3

# Optional: the transformers library
# transformers==4.3.2

##### TensorFlow-related packages

# If you have a TF-compatible GPU and you want to enable GPU support, then
# replace tensorflow-serving-api with tensorflow-serving-api-gpu.
# Your GPU must have CUDA Compute Capability 3.5 or higher support, and
# you must install CUDA, cuDNN and more: see tensorflow.org for the detailed
# installation instructions.

#/tensorflow==2.4.1
# Optional: the TF Serving API library (19)
# tensorflow-serving-api==2.4.1 # or tensorflow-serving-api-gpu if gpu

#/tensorboard==2.4.1
#/tensorboard-plugin-profile==2.4.0
#/tensorflow-datasets==3.0.0
#/tensorflow-hub==0.9.0
#/tensorflow-probability==0.12.1

##### Pytorch-related packages
# torchaudio==0.7.0 is ignored here for torch==1.7.0+cu101
# Choice of this elder version is due to the current compromise between the CUDA version
# required by tensorflow and pytorch

--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.6.0+cu101
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.7.0+cu101

# TensorBoard with Pytorch supported by third-party
# This is an alternative to official TensorBoard, which may have the problem when TF and Pytorch are installed -> see:
# https://blog.csdn.net/weixin_43002433/article/details/104167975
tensorboardX

# Optional
# NOT AVAILABLE ON WINDOWS
# tensorflow-addons==0.12.1

##### Image manipulation
Pillow
graphviz
opencv-python
pyglet

# pyvirtualdisplay # needed, if on a headless server
                  # (i.e., without screen, e.g., Colab or VM)


##### Additional utilities

# Efficient jobs (caching, parallelism, persistence)
joblib

# Easy http requests
requests

# Nice utility to diff Jupyter Notebooks.
nbdime==2.1.0

# May be useful with Pandas for complex "where" clauses (e.g., Pandas
# tutorial).
numexpr


# Optional: tqdm displays nice progress bars, ipywidgets for tqdm's notebook support
tqdm
ipywidgets

# Optional: YAML parser and emitter for Python
pyyaml

# Optional
pathlib2
easydict

# Optional: for cython
cython
cffi
